.proj-mobile{
    padding: 15px 30px 30px 30px;
    width: 100%;
}

.pm-h2{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 0 30px 0;
}

.pm-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.pm-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pm-img-cont{
    width: 100%;
}

.pm-img{
    width: 100%;
}

.pm-h3{
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0 3px 0;
}

.pm-gray{
    font-size: 1rem;
    color: #999;
    font-weight: 800;
}

.pm-blue{
    font-weight: 600;
    color: #0099ff;
    padding: 3px 0 10px 0;
}

.pm-more-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    cursor: pointer;
}

.pmb-text{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.pmb-arrow{
    width: 15px;
    filter: invert(100%);
    transform: scaleY(-1);
}

.pmb-arrow.show{
    transform: scaleY(1);
}

.pm-description{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease, padding 0.5s ease;
}

.pm-description.show{
    max-height: 1000px; /* Should be larger than your content height */
    opacity: 1;
    transform: translateY(0);
    padding: 0 0 15px 0;
}

.pm-p{
    font-size: 0.9rem;
    padding: 5px 0;
}