.education{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 0;
}

.edu-h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 100px 0 60px 0;
    font-weight: 800;
}

.edu-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edu-col{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-h3{
    font-size: 1.6rem;
}

.edu-ul{
    list-style: disc;
}

.edu-p, .edu-li{
    font-size: 1.1rem;
}