.hero-mobile{
    width: 100%;
    position: relative;
    margin: 0 0 130px 0;
}

.hm-img-positioner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    position: relative;
}

.hm-img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: bottom;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(-300px); /* Starts 50px above */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Moves to its normal position */
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(300px); /* Starts 50px above */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Moves to its normal position */
        opacity: 1;
    }
}

.hm-motto{
    position: absolute;
    width: 100%;
    top: 190px;
    left: 0;
    padding: 30px;
}

.hmm-color{
    color: #000;
    background-color: #ffee00;
    padding: 0 5px;
}

.hmm-top{
    font-size: 1.6rem;
    font-weight: 800;
    color: #eee;
    text-transform: uppercase;
    opacity: 0; /* Initially hidden */
    animation: slideInFromRight 0.7s ease-out 0.3s forwards;
}

.hmm-mid{
    font-size: 1.1rem;
    font-weight: 800;
    color: #eee;
    margin: 10px 0;
    opacity: 0; /* Initially hidden */
    animation: slideInFromLeft 0.7s ease-out 0.5s forwards;
}

.hmm-bot{
    font-size: 1rem;
    color: #eee;
    margin: 10px 0;
    opacity: 0; /* Initially hidden */
    animation: slideInFromRight 0.7s ease-out 0.7s forwards;
}

.hmm-button{
    margin: 30px auto 0 auto;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    animation: slideInFromLeft 0.7s ease-out 0.9s forwards;
}

.hmmb-p{
    font-size: 1rem;
    text-transform: uppercase;
    color: #eee;
    transition: color 0.3s ease-in-out;
}

@keyframes slideInFromBot {
    0% {
        transform: translateY(300px); /* Starts 50px above */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Moves to its normal position */
        opacity: 1;
    }
}

.hm-pfp-positioner{
    width: 100%;
    position: absolute;
    bottom: -130px;
    left: 0;
}

.hm-pfp-cont{
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0; /* Initially hidden */
    animation: slideInFromBot 0.8s ease-out 1.1s forwards;
}

.hm-pfp{
    width: 100%;
    height: auto;
}