
@media (min-width: 1801px){
    .stack{
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .stack h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.4rem;
        margin: 100px 0 0 0;
        font-weight: 800;
    }
    
    .stack-cont{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    
    .stack-item{
        width: 220px;
        height: 200px;
        position: relative;
    }
    
    .stack-img-cont{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .stack-img{
        width: 100%;
    }
    
    .stack-h3{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
    }    
}

@media (min-width: 1501px) and (max-width: 1800px){
    .stack{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .stack h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.2rem;
        margin: 70px 0 0 0;
        font-weight: 800;
    }
    
    .stack-cont{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    
    .stack-item{
        width: 180px;
        height: 170px;
        position: relative;
    }
    
    .stack-img-cont{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .stack-img{
        width: 100%;
    }
    
    .stack-h3{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
    }    
}

@media (min-width: 1201px) and (max-width: 1500px){
    .stack{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .stack h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin: 60px 0 0 0;
        font-weight: 800;
    }
    
    .stack-cont{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    
    .stack-item{
        width: 160px;
        height: 150px;
        position: relative;
    }
    
    .stack-img-cont{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .stack-img{
        width: 100%;
    }
    
    .stack-h3{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
    }    
}

@media (max-width: 1200px){
    .stack{
        display: none;
    }
}